html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.header a {
  color: #72bfc2;
  text-decoration: none;
}

.header-navigation {
  padding: 10px 0;
  background-color: #f8f8f8;
  color: #72bfc2;
}

.header-logo {
  float: left;
  color: #72bfc2;
  margin: 0 300px 0 0;
}

.menu {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}
.menu-item {
  display: inline-block;
}
.menu-link {
  text-transform: uppercase;
  padding: 0 15px;
  font-size: 16px;
}
